z9-pdm/~z9-pdm.kicad_sch.lck
*-????-??-??_??????.zip
z9-console/~z9-console.kicad_sch.lck
z9-shared/_autosave-shared_buzzer.kicad_sch
z9-shared/_autosave-shared_isolated_can.kicad_sch
z9-shared/_autosave-shared_usbc.kicad_sch
z9-shared/~z9-shared.kicad_sch.lck
z9-shared/#auto_saved_files#
z9-console/_autosave-stm32.kicad_sch
z9-console/~z9-console.kicad_pcb.lck
z9-console/_autosave-z9-console.kicad_pcb
z9-console/#auto_saved_files#
z9-console/~_autosave-z9-console.kicad_pcb.lck
z9-console/_autosave-*.kicad_sch
